body{
background-color:mintcream;
}

h1{
  background-color:limegreen;
  color:purple;
  outline-style:solid;
  outline-color:lightgreen;
}
  
  

p{
background-color:orange;
color:darkblue;
outline-style:double;
outline-color:powderblue;
}
