
body{
background-color:mintcream;
}
code {
  display: block;
  white-space: pre-wrap   
}
footer { 
    display: block;
    padding: 1cm;
}
h1{
  background-color:limegreen;
  color:purple;
  outline-style:solid;
  outline-color:lightgreen;
  padding: 2cm;
}
.content{
padding: 2cm;
background-color:greenyellow;
outline-style:dashed;
outline-color:black;
}
  

p{
background-color:orange;
color:darkblue;
outline-style:double;
outline-color:powderblue;
padding: 3cm;
}
